<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste des Utilisateurs</h4>
                        <p class="card-category">Vous pouvez de modifier ou supprimer un utilisateur.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <form class="navbar-form pull-right">
                                <div class="input-group no-border">
                                    <input (change)="searchItem($event)" type="text" [(ngModel)]="searchInput" class="form-control" placeholder="Search...">
                                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </form>
                            <table class="table"  matSort (matSortChange)="sortData($event)">
                                <thead class=" text-primary">
                                <th mat-sort-header="id">
                                    ID
                                </th>
                                <th mat-sort-header="nom">
                                    NOM
                                </th>
                                <th mat-sort-header="prenom">
                                    PRENOM
                                </th>
                                <th mat-sort-header="matricule">
                                    MATRICULE
                                </th>
                                <th mat-sort-header="personnel">
                                    PERSONNEL
                                </th>
                                <th mat-sort-header="role">
                                    ROLE
                                </th>
                                <th>
                                    ACTION
                                </th>
                                </thead>
                                <tbody *ngFor="let user of usersList">
                                <tr>
                                    <td>
                                        {{ user.id }}
                                    </td>
                                    <td>
                                        {{ user.firstName }}
                                    </td>
                                    <td>
                                        {{ user.lastName }}
                                    </td>
                                    <td>
                                        {{ user.serialNumber }}
                                    </td>
                                    <td class="text-primary">
                                        {{ user.job }}
                                    </td>
                                    <td class="text-primary">
                                        {{ user.role }}
                                    </td>
                                    <td class="text-primary">
                                        <button [routerLink]="['/edit-user', user.id]" style="margin-right: 10px" mat-mini-fab color="primary" aria-label="Example icon button with a edit icon">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button (click)="deleteUser(user.id)" mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <mat-paginator (page)="handlePageEvent($event)"
                                           [length]="length"
                                           [pageSize]="10"
                                           [pageSizeOptions]="[5, 10, 25, 100]"
                                           aria-labelledby="Element par page:"
                                           aria-label="Element par page:">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
