<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">group</i>
                      </div>
                      <p class="card-category">Nombre d'utilisateur</p>
                      <h3 class="card-title">{{ total }}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">info_outline</i>
                          <span>Consultez le graphique ci-dessus pour une répartition détaillée des types d'utilisateurs.</span>
                      </div>
                  </div>
              </div>

          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">calendar_month</i>
                      </div>
                      <p class="card-category">Nombre de Congé Demandé</p>
                      <h3 class="card-title">{{ breaks?.length }}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header">
                      <canvas width="200" height="200" class="ct-chart" id="usersChart">{{chart}}</canvas>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Les utilisateurs</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">info_outline</i>
                          <span>Ce graphique montre la répartition des utilisateurs en trois catégories principales : Employés, Ressources Humaines, et Managers. Il aide à visualiser la composition de votre équipe.</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header">
                      <canvas class="ct-chart" id="breaksTypeChart"></canvas>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Types de Congé</h4>
                      <p class="card-category">Répartition des différents types de congé pris par les employés</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">info_outline</i>
                          <span>Ce graphique montre la répartition des Congés demandés : Payé, Non-Payé, Maladie et Materinité. Il aide à visualiser la composition de votre équipe.</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
